//
// ========== Layer Rules ==========
//
// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}
// ========== Screen capture & screen share blackout ==========
// see also layer rule of same name
layer-rule {
  // FIXME: CONFIRM NAMESPACEs
  match namespace="^org\\.keepassxc\\.KeePassXC$"
  match namespace="Proton Pass$"
  block-out-from "screen-capture"
}
layer-rule {
  // FIXME: CONFIRM NAMESPACEs
  match namespace="^org\\.keepassxc\\.KeePassXC$"
  match namespace="Proton Pass$"
  block-out-from "screencast"
}
// ========== Layout Rules ==========
//
layout {
  background-color "transparent"
  always-center-single-column
  gaps 10
  // FIXME: with this commented out apps will determine their own starting width
  // inside & outside
  // Need try it out and decide
  default-column-width {
    proportion 0.75
  }
  // Cycled though using `switch-preset-window-column` action
  preset-column-widths {
    proportion 0.25
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 0.75
    proportion 0.8
    proportion 1.0
    proportion 0.8
    proportion 0.75
    proportion 0.66667
    proportion 0.5
    proportion 0.33333
  }
  // Cycled though using `switch-preset-window-height` action
  preset-window-heights {
    proportion 0.25
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 0.75
    proportion 1.0
    proportion 0.75
    proportion 0.66667
    proportion 0.5
    proportion 0.33333
    proportion 0.25
  }
  tab-indicator {
    // Set the gap between the tab indicator and the window in pixels.
    gap 0
    // Length of the indicator.
    length total-proportion=1.0
    // Whether to put the tab indicator "within" the column, rather than outside.
    // This will include it in column sizing and avoid overlaying adjacent columns.
    place-within-column
    // Position of the indicator.
    position "left"
    // Width of the tab indicator
    width 8
    active-color "#FF9400"
    inactive-color "#2D2D30"
  }
  struts {
    // Set a negative strut for the top and bottom to minimize wasted space.
    // Set a 1px wide strut on the sides to allow easy window switching with the mouse.
    left 0
    right 0
    top 0
    bottom 0
  }
}
//
// ========== Window Rules ==========
//
// ========== ALL windows ==========
window-rule {
  geometry-corner-radius 0 0 15 0
  clip-to-geometry true
  // focus ring configuration.
  focus-ring {
    off
    // Width of the focus ring in pixels.
    width 1
    // Color of the active focus ring.
    active-color "#FF9400"
    // Color of the inactive focus ring.
    inactive-color "#2D2D30"
    // Color of the focus ring around windows that request your attention.
    urgent-color "#C03900"
  }
}
// ========== Active windows ==========
window-rule {
  match is-active=true
  shadow {
    on
    softness 8
    spread 5
    // offset x= y=
    draw-behind-window true
    // required with non-squared corners
    color "#FF9400"
  }
}
// ========== General transparency ==========
window-rule {
  match is-active=false
  opacity 0.85
}
// ========== Tile on launch ==========
// FIXME: May want to make this proton vpn specific and specific starting geometry
window-rule {
  // match title="^(Proton VPN)$"
  match app-id="^(proton.vpn.app.gtk)$"
  open-floating false
}
// ========== Float on open ==========
window-rule {
  // applications
  match app-id="galculator$"
  // dialog windows
  match title="^(Open File)(.*)$"
  match title="^(Rename)(.*)$"
  match title="^(Select a File)(.*)$"
  match title="^(Choose wallpaper)(.*)$"
  match title="^(Open Folder)(.*)$"
  match title="^(Save As)(.*)$"
  match title="^(Library)(.*)$"
  match title="^(Accounts)(.*)$"
  match title="^(Text Import)(.*)$"
  match title="^(File Operation Progress)(.*)$"
  //may need to swap order of title and app-id for this one
  match title="^()$" app-id="^([Ff]irefox)"
  // rules
  open-floating true
}
// ========== No Focus on open ==========
window-rule {
  match app-id="^([Ff]irefox)" title="^()$"
  open-focused false
}
// ========== Always opaque ==========
window-rule {
  // applications
  match title="^([Gg]imp)$"
  match title="^([Ff]lameshot)$"
  match title="^([Ii]nkscape)$"
  match title="^([Bb]lender)$"
  match title="^([Oo][Bb][Ss])$"
  match title="^([Ss]team)$"
  match title="^([Ss]team_app_*)$"
  match title="^([Vv]lc)$"
  match title="^(btop)(.*)$"
  match title="^(amdgpu_top)(.*)$"
  // remove transparency from video
  match title="^(Dashboard | glass*)(.*)"
  match title="^(Live video from*)(.*)$"
  match title="^(Netflix)(.*)$"
  match title="^(F1 TV)(.*)$"
  match title="^(.*YouTube.*)$"
  match title="^(Picture-in-Picture)$"
  // rules
  opacity 1.0
}
// ========== Screen capture & screen share blackout ==========
// see also layer rule of same name
window-rule {
  match app-id="^org\\.keepassxc\\.KeePassXC$"
  match app-id="Proton Pass$"
  block-out-from "screen-capture"
}
window-rule {
  match app-id="^org\\.keepassxc\\.KeePassXC$"
  match app-id="Proton Pass$"
  match app-id="com.yubico.yubioath"
  block-out-from "screencast"
}
// ========== Open at full width ==========
// Open certain windows in their full size.
window-rule {
  match app-id="^([Gg]imp)$"
  match app-id="^([Bb]lender)$"
  match app-id="^([Ii]nkscape)$"
  match app-id="^([Oo][Bb][Ss])$"
  default-column-width {
    proportion 1.0
  }
}
// ========== Variable Refresh Rate ==========
// requires output to have `variable-refresh-rate on-demand=true`
window-rule {
  match app-id="^steam_app_.*$"
  match app-id="^([Vv]lc)$"
  variable-refresh-rate true
  open-fullscreen true
}
// ========== Steam==========
window-rule {
  match title="^()$" app-id="^([Ss]team)$"
  match app-id="^([S]team_app_*)$"
  open-on-output "DP-1"
  open-on-workspace "4_gmz"
}
window-rule {
  match title="Friends List" app-id="^([Ss]team)$"
  open-on-output "DP-1"
  open-on-workspace "4_gmz"
  default-column-width {
    proportion 0.25
  }
}
window-rule {
  match title="lsfg-vk Configuration Window"
  open-on-output "DP-1"
  open-on-workspace "4_gmz"
  default-column-width {
    proportion 0.3
  }
}
// ========== Signal ==========
// Resize certain windows to specific sizes.
window-rule {
  match app-id="^signal$"
  default-column-width {
    proportion 0.33333
  }
}
// ========== Spotify ==========
// Resize certain windows to specific sizes.
window-rule {
  match app-id="^[sS]potify$"
  default-column-width {
    proportion 0.33333
  }
}
// ========== Brave ==========
// Resize certain windows to specific sizes.
window-rule {
  match app-id="brave-browser"
  default-column-width {
    proportion 0.66667
  }
}
// ========== Projects ==========
// Resize certain windows to specific sizes.
window-rule {
  match title="pygame window"
  default-column-width {
    fixed 1280
  }
  default-window-height {
    fixed 720
  }
}
