// NOTE: see home/common/optional/niri/config.kdl for baseline startup calls
//
// ========== Startup ==========
//
spawn-at-startup "signal-desktop"
spawn-at-startup "/run/current-system/sw/bin/protonvpn-app"
spawn-at-startup "yubioath-flutter"
spawn-at-startup "proton-authenticator"
spawn-at-startup "spotify"
spawn-at-startup "obsidian"
spawn-at-startup "copyq"
spawn-sh-at-startup "ghostty --title=btop -e btop"
spawn-at-startup "brave"
