layout {
  tab name="nix" hide_floating_panes=true {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    pane split_direction="vertical" {
      pane cwd="$home/dev/nix" focus=true size="60%" {

      }
      pane size="40%" {
        pane cwd="$HOME/dev/nix" command="nix repl" size="75%" {
          start_suspended true
        }
        pane cwd="$HOME/dev/nix" size="25%" {

        }
      }
    }
    floating_panes {
      pane {
        height 44
        width 173
        x 87
        y 23
      }
    }
  }
  new_tab_template {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    pane cwd="$HOME/dev/nix"
  }
}
