layout {
  cwd "$HOME"
  tab name="1 TODO" hide_floating_panes=true {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    pane command="nvim" cwd="$HOME/dev/abbot-wiki" {
      args "0_ta_todo.md"
      start_suspended false
    }
  }
  tab name="2 Introdus" hide_floating_panes=true {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    pane split_direction="vertical" {
      pane cwd="$HOME/dev/nix/introdus/ta" size="60%" {

      }
      pane size="40%" {
        pane cwd="$HOME/dev/nix/introdus" size="75%" {

        }
        pane cwd="$HOME/dev/nix/introdus" size="25%" {

        }
      }
    }
    floating_panes {
      pane cwd="$HOME/dev/nix/introdus" {
        height 44
        width 173
        x 87
        y 23
      }
    }
  }
  tab name="3 Nix-Config" hide_floating_panes=true {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    pane split_direction="vertical" {
      pane focus=true cwd="$HOME/dev/nix/nix-config" size="60%" {

      }
      pane size="40%" {
        pane cwd="dev/nix/nix-config" size="75%" {

        }
        pane cwd="$HOME/dev/nix/nix-config" size="25%" {

        }
      }
    }
    floating_panes {
      pane cwd="dev/nix/nix-config" {
        height 44
        width 173
        x 87
        y 23
      }
    }
  }
  tab name="4 Wiki" hide_floating_panes=true {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    pane split_direction="vertical" {
      pane command="nvim" cwd="$HOME/dev/abbot-wiki" size="60%" {
        start_suspended false
      }
      pane cwd="$HOME/dev/abbot-wiki" size="40%"
    }
  }
  tab name="5 FidgetingBits" hide_floating_panes=true {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    pane split_direction="vertical" {
      pane cwd="$HOME/pub/nix/fidgetingbits/nix-config" size="60%"
      pane cwd="$HOME/pub/nix/fidgetingbits/nix-config" size="40%"
    }
  }
  tab name="6 neovim" hide_floating_panes=true {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    pane split_direction="vertical" {
      pane focus=true cwd="$HOME/dev/nix/neovim" size="60%" {

      }
      pane size="40%" {
        pane cwd="$HOME/dev/nix/neovim" size="75%" {

        }
        pane cwd="$HOME/dev/nix/neovim" size="25%" {

        }
      }
    }
  }
  new_tab_template {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
    pane cwd="$HOME"
  }
}
