// NOTE: see home/common/optional/niri/config.kdl for baseline startup calls
//
// ========== Startup ==========
//
spawn-at-startup "signal-desktop"
spawn-at-startup "/run/current-system/sw/bin/protonvpn-app"
spawn-at-startup "proton-authenticator"
spawn-at-startup "yubioath-flutter"
spawn-at-startup "copyq"
spawn-at-startup "firefox"
