// HACK: this should really be tied to user but since I'm the only user it's
// faster to put it in the same place as outputs.kdl
//
// ========== Named Workspaces ==========
//
workspace "1_dev" {
  open-on-output "eDP-1"
}
workspace "2_uci" {
  open-on-output "eDP-1"
}
workspace "3_edu" {
  open-on-output "eDP-1"
}
workspace "4_gmz" {
  open-on-output "eDP-1"
}
workspace "8_per" {
  open-on-output "eDP-1"
}
workspace "9_com" {
  open-on-output "eDP-1"
}
workspace "0_ref" {
  open-on-output "eDP-1"
}
workspace "Y_qrs" {
  open-on-output "eDP-1"
}
// ========== Workspace Assignments ==========
window-rule {
  match app-id="^[Oo]bsidian$"
  open-on-workspace "8_per"
}
window-rule {
  match app-id="signal"
  match app-id="discord"
  match app-id="brave-browser"
  open-on-workspace "9_com"
}
window-rule {
  match app-id="com.mitchellh.ghostty" title="btop"
  open-on-workspace "0_ref"
}
window-rule {
  match app-id="steam"
  open-on-workspace "4_gmz"
}
window-rule {
  match app-id="com.yubico.yubioath"
  match app-id="proton-authenticator"
  match app-id=".protonvpn-app-wrapped"
  match app-id="^[Ss]potify$"
  open-on-workspace "Y_qrs"
}
